{% extends "base.html" %}

{% block title %}
Edit article
{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit article</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}"><br>
        <textarea name="intro" id="intro" placeholder="Intro" class="form-control">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" placeholder="Text" class="form-control">{{ article.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Save">
    </form>
</div>
{% endblock %}